asgiref
beautifultable
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
Django
filelock
Flask
fonttools
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
Pillow
psutil
pyparsing
pysondb
python-dateutil
requests
six
sqlparse
tzdata
urllib3
wcwidth
Werkzeug